## SQL And SQLite
**SQL (Structured Query Language)** is a standardized programming language designed for managing and manipulating relational databases. It allows users to create, read, update, and delete data stored in database tables.

**SQLite** is a lightweight, serverless, self-contained SQL database engine that stores data in a single file. Unlike traditional database systems that require a separate server process, SQLite is embedded directly into applications, making it ideal for local storage, mobile apps, and small to medium-sized projects.

In [1]:
import sqlite3

In [2]:
# Create a connection to the SQLite database
conn = sqlite3.connect('example.db')
# Create a cursor object to execute SQL commands
cursor = conn.cursor()
# Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                   id INTEGER PRIMARY KEY,
                   name TEXT NOT NULL,
                   age INTEGER,
                   department TEXT
                 )''')
# Commit the changes
conn.commit()

In [3]:
# Insert data into the table
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('Muzmmil', 30, 'HR')")
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('Najmin', 25, 'IT')")
cursor.execute("INSERT INTO employees (name, age, department) VALUES ('Jiya', 35, 'Finance')")

In [4]:
conn.commit()  # Commit the changes

In [12]:
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()  # Fetch all rows from the executed query
for row in rows:
    print(row)

(1, 'Muzmmil', 32, 'HR')
(3, 'Jiya', 35, 'Finance')

In [7]:
rows

[(1, 'Muzmmil', 30, 'HR'), (2, 'Najmin', 25, 'IT'), (3, 'Jiya', 35, 'Finance')]

In [9]:
# Update a record
cursor.execute("UPDATE employees SET age = 32 WHERE name = 'Muzmmil'")
conn.commit()  # Commit the changes

In [11]:
# Delete a record
cursor.execute("DELETE FROM employees WHERE name = 'Najmin'")
conn.commit()  # Commit the changes

In [13]:
# Working with sales data
cursor.execute("CREATE TABLE IF NOT EXISTS sales (id INTEGER PRIMARY KEY, product_name TEXT, quantity INTEGER, price REAL)")
conn.commit()  # Commit the changes

In [14]:
sales_data = [
    ('Laptop', 5, 1200.00),
    ('Smartphone', 10, 800.00),
    ('Tablet', 7, 600.00)
]

cursor.executemany("INSERT INTO sales (product_name, quantity, price) VALUES (?, ?, ?)", sales_data)
conn.commit()  # Commit the changes

In [15]:
# Read data from the sales table
cursor.execute("SELECT * FROM sales")
rows = cursor.fetchall()  # Fetch all rows from the executed query
for row in rows:
    print(row)

(1, 'Laptop', 5, 1200.0)
(2, 'Smartphone', 10, 800.0)
(3, 'Tablet', 7, 600.0)

In [16]:
conn.close()  # Close the connection to the database