### Data Types In Python
Data types in Python specify the type of value a variable can hold. They determine the operations that can be performed on the data and how the data is stored in memory. Common data types include integers, floating-point numbers, strings, booleans, lists, tuples, dictionaries, sets, and NoneType. Each data type serves a specific purpose and helps organize and manage data efficiently in Python programs.

## Common Data Types in Python

- **int**: Integer numbers (e.g., `5`, `-3`)
- **float**: Floating point numbers (e.g., `3.14`, `-0.001`)
- **str**: String/text (e.g., `"hello"`, `'Python'`)
- **bool**: Boolean values (`True`, `False`)
- **list**: Ordered, mutable sequence (e.g., `[1, 2, 3]`)
- **tuple**: Ordered, immutable sequence (e.g., `(1, 2, 3)`)
- **dict**: Key-value pairs (e.g., `{'name': 'Alice', 'age': 25}`)
- **set**: Unordered collection of unique elements (e.g., `{1, 2, 3}`)
- **NoneType**: Represents the absence of a value (`None`)

### Integers

In [1]:
age = 32
print(age)  # This will print 32
print(type(age))  # This will print <class 'int'> indicating it's an integer

32
<class 'int'>

### Float

In [2]:
height = 5.9  # This is a float variable
print(height)  # This will print 5.9 float
print(type(height))  # This will print <class 'float'> indicating it's a float

5.9
<class 'float'>

### String

In [3]:
name = "Muzmmil"  # This is a string variable
print(name)  # This will print Muzmmil
print(type(name))  # This will print <class 'str'> indicating it's a string

Muzmmil
<class 'str'>

### Boolean

In [4]:
is_true = True  # This is a boolean variable
print(is_true)  # This will print True
print(type(is_true))  # This will print <class 'bool'> indicating it's a boolean

True
<class 'bool'>

In [5]:
bool()

False

In [6]:
a = 10; b = 10
print(a == b)  # This will print True because a and b are equal
print(a != b)  # This will print False because a and b are not different
print(a > b)   # This will print False because a is not greater than b
print(a < b)   # This will print False because a is not less than b
print(a >= b)  # This will print True because a is equal to b
print(a <= b)  # This will print True because a is equal to b

True
False
False
False
True
True

In [7]:
## Comman Errors
# 1. SyntaxError: This occurs when the code is not written correctly, such as
#    missing a colon, parentheses, or quotation marks.
# 2. TypeError: This occurs when an operation is applied to an object of an
#    inappropriate type, such as trying to add a string and an integer.
# 3. NameError: This occurs when a variable is not defined or is misspelled.
# 4. IndexError: This occurs when trying to access an index that is out of range
#    for a list or string.
# 5. KeyError: This occurs when trying to access a dictionary with a key that
#    does not exist.
# 6. ValueError: This occurs when a function receives an argument of the right
#    type but an inappropriate value, such as trying to convert a string that
#    does not represent a number to an integer.
# 7. AttributeError: This occurs when trying to access an attribute or method
#    that does not exist for an object.
# 8. ImportError: This occurs when trying to import a module that does not
#    exist or is not installed.
# 9. ZeroDivisionError: This occurs when trying to divide a number by zero.

In [8]:
result = 10 / 0  # This will raise a ZeroDivisionError
print(result)  # Uncommenting this line will raise the error

ZeroDivisionError: division by zero

In [9]:
result = "Hello" + 5  # This will raise a TypeError
print(result)  # Uncommenting this line will raise the error

TypeError: can only concatenate str (not "int") to str